*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
}
ul{
    display: flex;
list-style: none;
align-items: center;
gap: 26px;

}
a{
    font-family: Karla;
font-size: 13px;
font-weight: 700;
line-height: 15.2px;
letter-spacing: 1.5px;
text-align: center;
color: 
#837D88;
width: 68px;
height: 15px;
top: 34px;
left: 1028px;
gap: 0px;
opacity: 0px;

text-decoration: none;
}
.nav__button{width: 176px;
    height: 40px;
    top: 21px;
    left: 1129px;
    gap: 0px;
    opacity: 0px;
    background-color: transparent;
    font-family: Karla;
font-size: 13px;
font-weight: 700;
line-height: 15.2px;
letter-spacing: 1.5px;
text-align: center;
border: 1px solid black;

    }
    .header--logo{
        margin-left: 101.5%;

    }
    .header__nav{
        display: flex;
        align-items: center;
        margin-right: 10%;
        gap: 9%;
    }
    .top__button{width: 136px;
        height: 40px;
        top: 21px;
        left: 1129px;
        gap: 0px;
        opacity: 0px;
        background-color: transparent;
        font-family: Karla;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.2px;
    letter-spacing: 1.5px;
    text-align: center;
    border: 1px solid white;
    color: white;
        }
        .top__p{
            font-family: DM Serif Display;
font-size: 72px;
font-weight: 400;
line-height: 64px;
letter-spacing: -1px;
text-align: left;
width: 540px;
height: 140px;
gap: 0px;
opacity: 0px;
color: white;
margin-top: 50px;
        }
        .top__p2{
            font-family: Karla;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #d4d4d4;
width: 540px;
height: 84px;
top: 156px;
gap: 0px;
opacity: 0px;

        }
        .main__top{
            width: 100%;
            height: 600px;
            background-color: 
            #2D2641;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .top__left{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .top__left--img{
            width: 150px;
height: 1px;
top: 185px;
left: 165px;
gap: 0px;
opacity: 0px;

        }
        .top__img{
            transform: translatey(140px);
            margin-left: 50px;
        }
        .main__main__p{
            font-family: DM Serif Display;
font-size: 72px;
font-weight: 400;
line-height: 64px;
letter-spacing: -1px;
text-align: left;
width: 540px;
height: 140px;
gap: 0px;
opacity: 0px;
color: rgb(0, 0, 0);
margin-top: 60px;
margin-left: 200px;
        }
        .main__img{
            width: 150px;
            height: 1px;
            top: 185px;
            left: 165px;
            gap: 0px;
            opacity: 0px;
            margin-left: 200px;
            margin-top: 300px;
        }
        .card__logo{
            width: 86px;
height: 86px;
top: 1209px;
left: 165px;
gap: 0px;
opacity: 0px;
background-color: 
#96A9C6;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
        }
        .main__p{
            font-family: DM Serif Display;
font-size: 28px;
font-weight: 400;
line-height: 38.39px;
letter-spacing: -0.3888888955116272px;
text-align: left;

        }
        .main__p2{
            font-family: Karla;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #837D88;
width: 350px;
height: 78px;
top: 54px;
gap: 0px;
opacity: 0px;

        }
        .main__card{
display: flex;
justify-content: center;
gap: 30px;
        }
        .card{
            display: flex;
            flex-direction: column;
            gap: 18px;
        }
        .main__bt__p{
            width: 475px;
height: 112px;
top: 69px;
left: 81px;
gap: 0px;
opacity: 0px;
font-family: DM Serif Display;
font-size: 56px;
font-weight: 400;
line-height: 56px;
letter-spacing: -0.7777777910232544px;
text-align: left;
color: white;
margin-left: 65px;
        }
        .main__bt__button{width: 146px;
            height: 45px;
            top: 21px;
            left: 1129px;
            gap: 0px;
            opacity: 0px;
            background-color: transparent;
            font-family: Karla;
        font-size: 13px;
        font-weight: 700;
        line-height: 15.2px;
        letter-spacing: 1.5px;
        text-align: center;
        border: 1px solid white;
        color: white;
        margin-right: -760px;
        z-index: 1;
            }
            button:hover{
                background-color: rgb(71, 255, 47);
                border: 2px solid green;
                transition:all 0.8s;
            }
            .ft__logo{
                display: flex;
                justify-content: space-between;
                width: 78.5%;
                margin-top: 64px;
                z-index: 1;
            }
            .ft__top{
                display: flex;
                flex-direction: column;
               justify-content: center;
               gap: 55px;
               align-items: center;
               z-index: 1;

            }
            footer{
                width: 100%;
                margin-top: 170px;
height: 393px;
top: 2017px;
gap: 0px;
opacity: 0px;
background-color: rgb(247, 247, 247);
            }
            .ft__bottom{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 64px;
                gap: 60px;
            }
            .ft__img{
                width: 255px;
height: 159px;
top: 2187px;
left: 165px;
gap: 0px;
opacity: 0px;
z-index: 1;

            }
            #mi{
                width: 80%;
                height: 250px;
                margin-left: 165px;
                margin-top: 158px;
                display: flex;
                justify-content: space-between;
                align-items: center;
background-color: #2D2641;
            }
.ft__img2{
    width: 255px;
height: 128px;
top: 2187px;
left: 735px;
gap: 0px;
opacity: 0px;
margin-top: -30px;
}
.footer__img{
  position: absolute;
    
}
.burger{
    display: none;
}
@media(max-width:420px){
    .burger{
        display: block;
    }
    ul{
        display: none;
    }
    .nav__button{
        display: none;
    }
    .header__logo{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .header--logo{
        width: 111.22px;
height: 18px;
top: 31px;
left: 24px;
gap: 0px;
opacity: 0px;

    }
    .top__img{
        width: 100%;
height: 451px;
top: 80px;
gap: 0px;
opacity: 0px;
position: absolute;
top: -78px;
left: -50px;
    }
    .main__top{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        height: 500px;
        top: 531px;
        gap: 0px;
        opacity: 0px;
        margin-top: 340px;
        
    }
    .top__p{
        font-family: DM Serif Display;
font-size: 48px;
font-weight: 400;
line-height: 48px;
letter-spacing: -0.6666666865348816px;
text-align: center;
width: 327px;
height: 96px;
gap: 0px;
opacity: 0px;

    }
.top__p2{
    width: 327px;
height: 130px;
top: 112px;
gap: 0px;
opacity: 0px;
text-align: center;

}
.top__button{
    margin-left: 90px;
}
.main__card{
    flex-direction: column;
 align-items: center;
}
.main__p2{
    text-align: center;
}
.card{
    display: flex
    ;
    flex-direction: column;
    align-items: center;
}
#mi{
    width: 347px;
height: 344px;
top: 2342px;
left: 24px;
gap: 0px;
opacity: 0px;
margin: 25px;

}
.main__bt__p{
    font-family: DM Serif Display;
font-size: 40px;
font-weight: 400;
line-height: 40px;
letter-spacing: -0.5555555820465088px;
text-align: center;
width: 279px;
height: 120px;
top: 2414px;
left: 48px;
gap: 0px;
opacity: 0px;
margin: 19px;
}
.main__bt__button{
    margin-left: -750px;
    margin-top: 200px;
}
.ft__bottom{
    display: flex;
    flex-direction: column;
    align-items: end;
}
footer{
    width: 375px;
height: 925px;
top: 2826px;
left: 1px;
gap: 0px;
opacity: 0px;
m

}
.header--logo{
    margin-left: 10.5%;
}

.main__main__p{
    font-family: DM Serif Display;
font-size: 48px;
font-weight: 400;
line-height: 48px;
letter-spacing: -0.6666666865348816px;
text-align: center;
width: 327px;
height: 48px;
top: 1212px;
left: 24px;
gap: 0px;
opacity: 0px;
margin-left: 50px;
margin-bottom: 50px;
}
.main__img{
    margin-left: 130px;
  margin-top: 10px;
}
.footer__img{
    margin-left: -30px;
}
}